@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  @font-face {
    font-family: "Outfit";
    src: url("/fonts/Outfit/static/Outfit-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "OutfitBold";
    src: url("/fonts/Outfit/static/Outfit-Bold.ttf") format("truetype");
  }
  @font-face {
    font-family: "OutfitLight";
    src: url("/fonts/Outfit/static/Outfit-Light.ttf") format("truetype");
  }
  @font-face {
    font-family: "OutfitMedium";
    src: url("/fonts/Outfit/static/Outfit-Medium.ttf") format("truetype");
  }
  @font-face {
    font-family: "OutfitSemiBold";
    src: url("/fonts/Outfit/static/Outfit-SemiBold.ttf") format("truetype");
  }
}
@layer components {
  .mask {
    backdrop-filter: blur(1px);
  }
  .section__title {
    @apply relative font-outfitMedium text-5xl w-[560px];
  }
  .section__title::after {
    content: "NFTs";
    @apply absolute bg-gradient-to-r from-primary to-secondary text-transparent bg-clip-text bottom-0 right-0 left-0 mx-auto -z-10 font-outfitBold text-8xl w-56;
  }
}
@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}
